<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

<form metod="get" action="/logout" >
    <button  tupe="submit"> Logout</button>
</form>

<form th:method="POST" th:action="@{/add}" th:object="${user}">
    First Name<br><input type="text" name="username" placeholder="New name" required/><br>
    Last Name<br><input type="text" name="surname" placeholder="New last name" required/><br>
    Age<br><input type="text" name="age" placeholder="New age" required/><br>
    E-mail<br><input type="text" name="email" placeholder="New e-mail" required/><br>
    Password<br><input type="text" name="password" placeholder="New password" required/><br>

    <p>
        <label>
            <select size="3" multiple="multiple" name="rolesId" id="roles">
                <option disabled>Roles:</option>
                <option value="ROLE_ADMIN">ADMIN</option>
                <option selected value="ROLE_USER">USER</option>
            </select>
        </label>
    </p>

    <p><input type="submit" value="Save">
</form>
</body>
</html>