<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="UTF-8">
<title>Create user</title>
<head>
</head>
<body>

<form metod="get" action="/logout" >
    <button  tupe="submit"> Logout</button>
</form>
<br>

<form action="#" th:action="@{/edit}" th:object="${user}" method="POST">
    <input type="hidden" th:field="*{id}" />
    <input type="text" th:field="*{username}" />
    <input type="text" th:field="*{surname}" />
    <input type="number" th:field="*{age}" />
    <input type="email" th:field="*{email}" />
    <input type="password" th:field="*{password}" />
    <select th:field="*{roles}" multiple>
        <option th:each="role : ${listRoles}"
                th:value="${role.id}"
                th:text="${role.name}"
                th:selected="${#lists.contains(user.roles, role)}">
        </option>
    </select>
    <input type="submit" value="Save" />
</form>
</body>
</html>