<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>User Details</title>
</head>
<body>

<form method="get" action="/logout">
    <button type="submit">Logout</button>
</form>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
    </tr>
    <tr>
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.username}">Name</td>
        <td th:text="${user.password}">Password</td>
    </tr>
</table>

<form method="get" action="/admin">
    <button type="submit">User List</button>
</form>

</body>
</html>