<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Admin panel</title>
</head>
<body>

<form method="get" action="/logout">
    <button type="submit"> Logout</button>

</form>
<table border="1">

    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>E-mail</th>
        <th>Role</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:utext="${user.id}">Id</td>
        <td th:utext="${user.username}">First Name</td>
        <td th:utext="${user.surname}">Last Name</td>
        <td th:utext="${user.age}">Age</td>
        <td th:utext="${user.email}">E-mail</td>
        <td>
            <span th:each="role, iterStat : ${user.roles}">
                    <span th:utext="${#strings.replace(role.name, 'ROLE_', '')}"></span>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
        </td>

        <td>
            <a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a>
            <a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a>
        </td>
    </tr>
</table>
<br>
<form method="get" action="/admin/add">
    <button type="submit">Add</button>
</form>
</body>
</html>